* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Proxima Nova";
}

.main__section {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #006c00;
  height: 100vh;
  min-height: 1081px;
  overflow: auto;
}

.section__block-price {
  max-width: 1314px;
  overflow: auto;
}

.block-price__title--ordinary {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  
}

.block-price__subtitle {
  margin-top: 50px;
}

.block-price__subtitle--ordinary {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #1a1820;
}

.block-price__items {
  margin-top: 90px;
}

.item {
  /* width: 30%; */
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 660px;
}

.items__item--price {
  background-color: #fff;
}

.items__item {
  padding: 50px;
}

/* .item__container {
  margin-top: 50px;
} */
.items__item--not-first {
  margin-left: 40px;
}

.item__container--centered {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.item__title--ordinary {
  font-size: 19px;
  font-weight: 700;
}

.item__img {
  margin-top: 33px;
}

.item__price {
  margin-top: 37px;
}

.item__price--ordinary {
  font-size: 19px;
  font-weight: 700;
}

.item__price--big {
  font-size: 30px;
}

.item__item-list {
  margin-top: 34px;
  min-height: 135px;
}

.item__item-list--simple-list {
  font-size: 18px;
  font-weight: 400;
  list-style-image: url(../img/check.png);
  /* list-style: none; */
  text-align:center;
  display: inline-block;
}

li {
  float:left;
}

.item__item-list-element-1-2 {
  margin-left: 42px;
  margin-top: 6px;
}

.item__button {
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 60px;
  border-radius: 15px;
  border: 0 solid white;
  color: #ffffff;
  background-color: #ffb504;
}

.item__item-list-element-2-1 {
  margin-left: 37px;
  margin-top: 6px;
}

.item__item-list-element-2-2 {
  margin-left: 83px;
  margin-top: 6px;
}

.item__item-list-element-2-3 {
  margin-left: 49px;
  margin-top: 6px;
}

.item__item-list-element-3-3 {
  margin-left: 20px;
  margin-top: 6px;
}

.item__button-type2 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 60px;
  border-radius: 15px;
  border: 0 solid white;
  color: #ffffff;
  background-color: #ffb504;
}

.item2 {
  /* width: 30%; */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.items__item2 {
  padding-right: 50px;
  padding-left: 50px;
}

.section__block-price2 {
  overflow: auto;
}